body {
  font-family: "Open Sans";
  margin: 0;
}

.container {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.clearfix:after {
  clear: both;
  display: table;
  content: "";
}

input {
  outline: none;
}

.btn {
  cursor: pointer;
  outline: none;
}
