.advantages {
  background-color: #f2f2f2;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center 110%;
  padding-bottom: 300px;
  @media @retina {
    background-image: url("../img/iphone-screen-mobile@2x.png");
  }
}

.advantages__bg-triangle {
  width: 100%;
  height: 45px;
}

.advantages__wrapper {
  display: flex;
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 50px;
}

.advantages__item {
  text-align: center;
}

.advantages__title {
  color: #283645;
  font-size: 18px;
  font-weight: bold;
}

.advantages__text {
  padding-bottom: 20px;
  color: #283645;
  font-size: 14px;
  line-height: 1.4;
}

@media @tablet-widths {
  .advantages {
    background-image: none;
    padding-top: 0;
    padding-bottom: 0;
  }

  .advantages__bg-triangle {
    width: 100%;
    height: 85px;
  }

  .advantages__bg-container {
    width: 320px;
    height: 480px;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-attachment: scroll;
    @media @retina {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
    }
  }

  .advantages__inner {
    padding-top: 40px;
  }

  .advantages__wrapper {
    width: 620px;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #f2f2f2;
}

  .advantages__item {
    width: 300px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
  }

  .advantages__title {
    color: #283645;
    font-size: 18px;
    font-weight: bold;
  }

  .advantages__text {
    padding-bottom: 20px;
    color: #283645;
    font-size: 14px;
    line-height: 1.4;
  }
}

@media @desktop-widths {
  .advantages {
    padding-top: 0;
    background-color: #f2f2f2;
  }

  .advantages__wrapper {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    background-image: none;
  }

  .advantages__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .advantages__bg-container {
    display: none;
  }

  .advantages__item {
    text-align: center;
    width: 240px;
    margin: 0;
    margin-right: 78px;
    padding: 0;
    padding-top: 310px;
    background-repeat: no-repeat;
    background-position: top center;
    &:first-child {
      margin-left: 32px;
      background-image: url("../../img/iphone-screen-1-desktop@1x.png");
      @media @retina {
        background-image: url("../../img/iphone-screen-1-desktop@2x.png");
        background-size: 292px auto;
      }
    }
    &:nth-child(2) {
      background-image: url("../../img/iphone-screen-2-desktop@1x.png");
      @media @retina {
        background-image: url("../../img/iphone-screen-2-desktop@2x.png");
        background-size: 292px auto;
      }
    }
    &:last-child {
      margin-right: 32px;
      background-image: url("../../img/iphone-screen-3-desktop@1x.png");
      @media @retina {
        background-image: url("../../img/iphone-screen-3-desktop@2x.png");
        background-size: 292px auto;
      }
    }
  }

  .advantages__title {
    font-family: "Open Sans Bold";
    color: #283645;
    font-size: 30px;
    font-weight: bold;
  }

  .advantages__text {
    padding-bottom: 20px;
    color: #283645;
    font-size: 18px;
    line-height: 1.4;
  }
}
