.download-app {
  background-color: #1d2631;
}

.download-app__btn {
  display: inline-block;
  padding: 15px 35px;
  margin-top: 25px;
  margin-left: auto;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  border: 3px solid #ffffff;
  border-radius: 50px;
}

.download-app__store-link {
  display: inline-block;
  padding-top: 30px;
  padding-bottom: 20px;
}

.download-app__store-link--apple {
  padding-left: 35px;
  padding-right: 30px;
}

.download-app__store-link--android {
  padding-right: 30px;
}

.download-app__store-link--windows {
  padding-right: 35px;
}

.download-app__about {
  padding-bottom: 30px;
  font-family: 'Open Sans Light';
  color: #ffffff;
  text-align: center;
  font-size: 14px;
}
