.download-app {
  background-color: #1d2631;
  padding-top: 25px;
}

.download-app__btn {
  display: block;
  text-align: center;
  width: 210px;
  padding: 15px 20px;
  margin: 0 auto;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  border: 3px solid #ffffff;
  border-radius: 50px;
  transition: 0.1s linear background-color, 0.1 s linear color;
  &:hover {
    background-color: #fff;
    color: #d22856;
  }
  &:active {
    background-color: #fff;
    color: rgba(210, 40, 86, 0.3);
  }
}

.download-app__store-link {
  display: inline-block;
  padding-top: 30px;
  padding-bottom: 20px;
  &--apple {
    padding-left: 35px;
    padding-right: 30px;
  }
  &--android {
    padding-right: 30px;
  }
  &--windows {
    padding-right: 35px;
  }
}

.download-app__about {
  padding-bottom: 30px;
  font-weight: 200;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
}
