.form {
  padding-bottom: 30px;
}

.form__btn {
  display: block;
  margin: 0 auto;
  padding: 20px 45px;
  background-color: #2aab6d;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  transition: 0.1s linear color, 0.1s linear background-color;
}

.form__btn:hover {
  background-color: #1c9b5e;
}

.form__btn:active {
  background-color: #1c9b5e;
  color: rgba(255, 255, 255, 0.3);
}

.form__required {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #283645;
}

.form__required--pink {
  color: #d22856;
}
