  .page-header {
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 705px auto;
    &--bg-top {
      background-position: top center;
    }
    &--bg-center {
      background-position: center center;
    }
    &--photo {
      background-position: top center;
      min-height: 150px;
      padding-bottom: 70px;
      .page-header__title-wrapper {
        padding-top: 15px;
        width: 250px;
        margin: 0 auto;
      }
    }
    &--form {
      background-position: top center;
      min-height: 100px;
      padding-bottom: 40px;
      .page-header__title-wrapper {
        padding-top: 15px;
        width: 250px;
        margin: 0 auto;
        line-height: 1.2;
      }
    }
    @media @retina {
      background-image: url("../img/bg-back-mobile@2x.jpg");
      background-size: 700px auto;
    }
    @media @tablet-and-retina {
      background-image: none;
    }
}

  .page-header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .page-header__title {
    text-align: center;
    font-family: "Open Sans", "Tahoma", sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;
  }

  .page-header__top {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .page-header__logo-link {
    margin-left: 20px;
  }

  .page-header__logo-img {
    margin: 20px 0px 20px 20px;
    width: 75px;
    height: 25px;
    fill: #000000;
    &--tablet, &--desktop {
      display: none;
      cursor: pointer;
      &:hover .page-header__logo-symbol {
        fill: #ba2b54;
      }
      &:active .page-header__logo-symbol {
        fill: rgba(255, 255, 255, 0.3)
      }
    }
  }

  .page-header__logo-img--tablet .page-header__logo-symbol {
    fill: #ffffff;
  }

@media @tablet-widths {
  .page-header {
    &--index {
      background-image: url("../img/bg-back-tablet@1x.jpg");
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center bottom;
      background-size: 1200px auto;
      @media @tablet-and-retina {
        background-image: url("../img/bg-back-tablet@2x.jpg");
        background-size: 1200px auto;
      }
    }
    &--photo {
      min-height: 200px;
      padding-bottom: 110px;
      background-image: url("../img/bg-back-tablet@1x.jpg");
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center center;
      background-size: 1200px auto;
      .page-header__title-wrapper {
        padding-top: 38px;
        width: 350px;
        margin: 0 auto;
      }
      @media @tablet-and-retina {
        background-image: url("../img/bg-back-tablet@2x.jpg");
        background-size: 1200px auto;
      }
    }
    &--form {
      min-height: 100px;
      padding-bottom: 46px;
      background-image: url("../img/bg-back-tablet@1x.jpg");
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center center;
      background-size: 1200px auto;
      @media @tablet-and-retina {
        background-image: url("../img/bg-back-tablet@2x.jpg");
        background-size: 1200px auto;
      }
      .page-header__title-wrapper {
        width: 620px;
        margin: 0 auto;
        padding: 36px 20px 0px 20px;
      }
    }
  }

  .page-header__title {
    text-align: center;
    font-family: "Open Sans", "Tahoma", sans-serif;
    font-size: 50px;
    font-weight: 300;
    color: #ffffff;
  }

  .page-header__top {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .page-header__logo-link {
    margin-right: 170px;
  }

  .page-header__logo-img {
    width: 150px;
    height: 40px;
    margin: 27px 0px 0px 0px;
    &--mobile {
      display: none;
    }
    &--tablet {
      display: inline-block;
    }
  }
}

@media @desktop-widths {
  .page-header {
    &--index {
      background-image: url("../img/bg-back-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center center;
      background-size: cover;
      @media @desktop-and-retina {
        background-image: url("../img/bg-back-desktop@2x.jpg");
        background-size: cover;
      }
    }
    &--photo {
      min-height: 200px;
      padding-bottom: 68px;
      background-image: url("../img/bg-back-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-attachment: 1200px auto;
      background-position: center center;
      background-size: cover;
      @media @desktop-and-retina {
        background-image: url("../img/bg-back-desktop@2x.jpg");
        background-size: 2560px auto;
      }
      .page-header__title-wrapper {
        width: 340px;
        margin: 0 auto;
        padding: 30px 20px 0px 20px;
        line-height: 1.2;
      }
    }
    &--form {
      min-height: 200px;
      padding-bottom: 59px;
      background-image: url("../img/bg-back-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center center;
      background-size: cover;
      @media @desktop-and-retina {
        background-image: url("../img/bg-back-desktop@2x.jpg");
        background-size: 2560px auto;
      }
      .page-header__title-wrapper {
        width: 750px;
        margin: 0 auto;
        padding: 30px 20px 10px 20px;
      }
    }
  }

  .page-header__wrapper {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .page-header__title {
    order: 2;
    text-align: center;
    font-family: "Open Sans", "Tahoma", sans-serif;
    font-size: 50px;
    font-weight: 300;
    color: #ffffff;
  }

  .page-header__top {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .page-header__logo-link {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .page-header__logo-img {
    width: 150px;
    height: 40px;
    margin-top: 10px;
    margin-left: 0;
    &--mobile {
      display: none;
    }
    &--tablet {
      display: none;
    }
    &--desktop {
      display: inline-block;
    }
  }
}
