.page-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.page-footer__logo-glasses-img {
  width: 148px;
}

.page-footer__social-links {
  margin-top: 30px;
  margin-bottom: 30px;
}

.page-footer__social-link {
  display: inline-block;
  margin-right: 10px;
  width: 45px;
  vertical-align: middle;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
  transition: 0.1s linear border;
}

.page-footer__social-link:hover {
  border: 3px solid #2f3c4b;
}

.page-footer__social-link:active {
  border: 3px solid #e9ebec;
}

.page-footer__social-link-icon {
  margin-top: auto;
}

.page-footer__social-link--twitter {
  padding: 13px 0;
}

.page-footer__social-link--facebook {
  padding: 12px 1px;
}

.page-footer__social-link--youtube {
  padding: 13px 0;
  margin-right: 0;
}

.page-footer__copyright-logo {
  display: inline-block;
  vertical-align: middle;
  width: 27px;
}
