.photo-editor__edit-btn {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  &--contrast {
    margin-right: 0;
  }
}

.photo-editor__post-btns {
  border: none;
}



@media @mobile-widths-only {
  .photo-editor {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: #f2f2f2;
  }

  .photo-editor__edit-btns {
    margin-top: 35px;
    text-align: center;
    border: none;
  }

  .photo-editor__slider--crop {
    margin-top: 30px;
  }

  .photo-editor__slider--color,
  .photo-editor__slider--contrast {
    visibility: hidden;
  }

    .photo-editor__submit-btn {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 15px 80px;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: bold;
    color: #d22856;
    border: 3px solid #d22856;
    border-radius: 50px 50px;
    background: none;
    transition: 0.1s linear color, 0.1s linear background-color;
    &:hover {
      color: #ffffff;
      background-color: #d22856;
    }
    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: #d22856;
    }
  }

  .photo-editor__reset-btn {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 15px 92px;
    margin-top: 10px;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: bold;
    color: rgba(40, 54, 69, 0.1);
    border: 3px solid rgba(40, 54, 69, 0.1);
    border-radius: 50px 50px;
    background: none;
    transition: 0.1s linear color, 0.1s linear background-color, 0.1s linear border;
    &:hover {
      color: rgba(40, 54, 69, 0.3);
      border: 3px solid rgba(40, 54, 69, 0.3);
    }
    &:active {
      color: rgba(255, 255, 255, 0.3);
      border: 3px solid rgba(40, 54, 69, 0.1);
      background-color: rgba(40, 54, 69, 0.3);
    }
  }
}

@media @tablet-widths {
  .photo-editor {
    padding-top: 60px;
    padding-bottom: 50px;
    background-color: #f2f2f2;
  }

  .photo-editor__img {
    float: left;
    margin-right: 45px;
  }

  .photo-editor__edit-btns {
    width: 22px;
    float: left;
    margin-right: 30px;
  }

  .photo-editor__edit-btn {
    display: block;
    padding-top: 12px;
    padding-bottom: 40px;
    &::after {
      content: '';
      display: block;
      position: relative;
      top: 20px;
      width: 270px;
      height: 1px;
      background-color: #dddfe0;
    }
  }

  .photo-editor__edit-icon {
    height: 22px;
    &--contrast {
      height: 16px;
    }
  }

  .photo-editor__sliders {
    margin-bottom: 13px;
    padding-top: 10px;
    width: 202px;
    float: left;
  }

  .photo-editor__slider {
    margin-bottom: 53px;
    display: block;
  }

  .photo-editor__post-btns {
    float: left;
  }

    .photo-editor__submit-btn {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 15px 80px;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: bold;
    color: #d22856;
    border: 3px solid #d22856;
    border-radius: 50px 50px;
    background: none;
    transition: 0.1s linear color, 0.1s linear background-color;
    &:hover {
      color: #ffffff;
      background-color: #d22856;
    }
    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: #d22856;
    }
  }

  .photo-editor__reset-btn {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 15px 92px;
    margin-top: 10px;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: bold;
    color: rgba(40, 54, 69, 0.1);
    border: 3px solid rgba(40, 54, 69, 0.1);
    border-radius: 50px 50px;
    background: none;
    transition: 0.1s linear color, 0.1s linear background-color, 0.1s linear border;
    &:hover {
      color: rgba(40, 54, 69, 0.3);
      border: 3px solid rgba(40, 54, 69, 0.3);
    }
    &:active {
      color: rgba(255, 255, 255, 0.3);
      border: 3px solid rgba(40, 54, 69, 0.1);
      background-color: rgba(40, 54, 69, 0.3);
    }
  }
}

@media @desktop-widths {
  .photo-editor {
    background-color: #ffffff;
    .container {
      padding: 50px 60px 55px 80px;
      background-color: #f2f2f2;
    }
  }

  .photo-editor__img {
    width: 300px;
    margin-right: 90px;
  }

  .photo-editor__edit-btns {
    width: 42px;
    float: left;
    margin-right: 30px;
  }

  .photo-editor__edit-btn {
    display: block;
    padding-top: 12px;
    padding-bottom: 10px;
    &::after {
      content: '';
      display: block;
      position: relative;
      top: 8px;
      width: 410px;
      height: 1px;
      background-color: #dddfe0;
    }
  }

  .photo-editor__edit-icon {
    height: 42px;
    &--contrast {
      height: 32px;
    }
  }

  .photo-editor__sliders {
    margin-bottom: 13px;
    padding-top: 20px;
    width: 290px;
    float: left;
  }

  .photo-editor__slider {
    margin-bottom: 45px;
    display: block;
    &--color {
      margin-bottom: 40px;
    }
  }

  .photo-editor__post-btns {
    margin-top: 105px;
    width: 420px;
    float: left;
  }

    .photo-editor__submit-btn {
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    margin-right: 44px;
    padding: 15px 41px;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: bold;
    color: #d22856;
    border: 3px solid #d22856;
    border-radius: 50px 50px;
    background: none;
    transition: 0.1s linear color, 0.1s linear background-color;
    &:hover {
      color: #ffffff;
      background-color: #d22856;
    }
    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: #d22856;
    }
  }

  .photo-editor__reset-btn {
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    padding: 15px 53px;
    margin-top: 10px;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: bold;
    color: rgba(40, 54, 69, 0.1);
    border: 3px solid rgba(40, 54, 69, 0.1);
    border-radius: 50px 50px;
    background: none;
    transition: 0.1s linear color, 0.1s linear background-color, 0.1s linear border;
    &:hover {
      color: rgba(40, 54, 69, 0.3);
      border: 3px solid rgba(40, 54, 69, 0.3);
    }
    &:active {
      color: rgba(255, 255, 255, 0.3);
      border: 3px solid rgba(40, 54, 69, 0.1);
      background-color: rgba(40, 54, 69, 0.3);
    }
  }
}

.photo-editor {
  input[type=range] {
      -webkit-appearance: none;
      background: transparent;
      width: 100%;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 2px;
      background: #283645;
      border: none;
  }

  input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: none;
      display: block;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      border: 2px solid #d22856;
      background: #f2f2f2;
      cursor: pointer;
      margin-top: -5px;
      transition: 0.1s linear background-color;
  }
  input[type=range]::-webkit-slider-thumb:hover {
    background-position: 50% 50%;
  }
  input[type=range]::-webkit-slider-thumb:active {
    background-color: #d22856;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
      background: #283645;
  }

  input[type=range]::-moz-range-track {
      width: 100%;
      height: 2px;
      background: #283645;
      border: none;
  }

  input[type=range]::-moz-range-thumb {
      border: none;
      display: block;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      border: 2px solid #d22856;
      background: #f2f2f2;
      cursor: pointer;
      margin-top: -5px;
      transition: 0.1s linear background-color;
  }
  input[type=range]::-moz-range-thumb:active {
    background-color: #d22856;
  }

  input[type=range]:-moz-focusring {
      outline: 1px solid white;
      outline-offset: -1px;
  }

  input[type=range]::-ms-track {
      width: 100%;
      height: 5px;
      background: transparent;
      border-color: transparent;
      border-width: 7px 0;
      color: transparent;
  }
  input[type=range]::-ms-fill-lower {
      background:  #283645;
      border-radius: 10px;
  }
  input[type=range]::-ms-fill-upper {
      background:  #283645;
      border-radius: 10px;
  }
  input[type=range]::-ms-thumb {
      border: none;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      border: 2px solid #d22856;
      background: #f2f2f2;
      transition: 0.1s linear background-color;
  }
  input[type=range]::-ms-thumb:active {
    background-color: #dd2856;
  }
}
