.photo-editor {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #f2f2f2;
}

.photo-editor__edit-btns {
  margin-top: 35px;
  text-align: center;
  border: none;
}

.photo-editor__edit-btn {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  &--contrast {
    margin-right: 0;
  }
}

.photo-editor__post-btns {
  border: none;
}

.photo-editor__slider--crop {
  margin-top: 30px;
}

.photo-editor__slider--color,
.photo-editor__slider--contrast {
  visibility: hidden;
}

.photo-editor__submit-btn {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 15px 80px;
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: bold;
  color: #d22856;
  border: 3px solid #d22856;
  border-radius: 50px 50px;
  background: none;
  transition: 0.1s linear color, 0.1s linear background-color;
  &:hover {
    color: #ffffff;
    background-color: #d22856;
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d22856;
  }
}

.photo-editor__reset-btn {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 15px 92px;
  margin-top: 10px;
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: bold;
  color: rgba(40, 54, 69, 0.1);
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50px 50px;
  background: none;
  transition: 0.1s linear color, 0.1s linear background-color, 0.1s linear border;
  &:hover {
    color: rgba(40, 54, 69, 0.3);
    border: 3px solid rgba(40, 54, 69, 0.3);
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);
    border: 3px solid rgba(40, 54, 69, 0.1);
    background-color: rgba(40, 54, 69, 0.3);
  }
}
