.pink-post {
  text-align: center;
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  &--panorama {
    width: 320px;
    padding: 0;
  }
}

.pink-post__fullsize-link {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.pink-post__caption {
  padding: 25px 20px;
  margin-top: 0;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  text-align: left;
  &--panorama {
    width: 240px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.pink-post__author {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #283645;
}

.pink-post__date {
  font-size: 12px;
  font-weight: 200;
  text-transform: uppercase;
  color: #283645;
}

.pink-post__text {
  font-size: 14px;
  line-height: 1.7;
  color: #283645;
}

.pink-post__likes {
  font-size: 12px;
  text-transform: uppercase;
  color: #d22856;
}

.pink-post__like-icon {
  display: inline-block;
  vertical-align: middle;
  width: 13px;
  height: 13px;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
}

.pink-post__like-link,
.pink-post__like-count {
  display: inline-block;
  vertical-align: middle;
}

.pink-post__like-link {
  margin-left: 20px;
}
