.price {
  background-color: #f2f2f2;
  padding-top: 40px;
  padding-bottom: 70px;
}

.price__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.price__wrapper input[type=radio] {
  display: none;
}

.price__slider-toggles {
  text-align: center;
  position: relative;
  top: 320px;
}

.price__slider-toggle {
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #bec2c7;
  margin: 0 3px;
  cursor: pointer;
  transition: 0.1 linear background-color;
  &:hover {
    background-color: #7e868f;
  }
  &:active {
    background-color: #e9ebec;
  }
}

.price__slider-input-1:checked ~ .price__slider-toggles .price__slider-toggle-1,
.price__slider-input-2:checked ~ .price__slider-toggles .price__slider-toggle-2,
.price__slider-input-3:checked ~ .price__slider-toggles .price__slider-toggle-3 {
  border: 2px solid #283645;
  background-color: #fff;
}

.price__slider-input-1:checked ~ .price__inner .price__table {
  transform: translate(0);
}

.price__slider-input-2:checked ~ .price__inner .price__table {
  transform: translate(-260px);
}

.price__slider-input-3:checked ~ .price__inner .price__table {
  transform: translate(-520px);
}

.price__inner {
  overflow: hidden;
}

.price__table {
  border-collapse: collapse;
}

.price__item-top {
  width: 280px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #283645;
  text-align: center;
  border-right: 2px solid #e7e7e7;
  &--hidden {
    display: none;
  }
}

.price__item-title {
  display: block;
  color: #ffffff;
  margin: 0;
  padding-bottom: 6px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.price__item-cost {
  font-family: "Open Sans Light";
  font-weight: 200;
  color: #ffffff;
  font-size: 24px;
}

.price__item-hit {
  position: relative;
  top: -55px;
  left: 170px;
  transform: rotate(-45deg);
  &::after {
    content: "Хит";
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
  }
}

.price__table {
  width: 263%;
  transition: transform 0.8s ease;
}

.price__item {
  padding: 20px 25px;
  margin-bottom: 2px;
  background-color: #ffffff;
  border-bottom: 2px solid #e7e7e7;
  border-right: 2px solid #e7e7e7;
  color: #283645;
  font-size: 14px;
  text-transform: uppercase;
  &--hidden {
    display: none;
  }
}

@media @tablet-widths {
  .price__wrapper {
    width: 620px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .price__inner {
    overflow: visible;
  }

  .price__slider-toggles {
    display: none;
  }

  .price__table {
    width: 100%;
  }

  .price__item {
    min-width: 103px;
    padding: 15px 25px;
    margin-bottom: 0;
    background-color: #ffffff;
    color: #283645;
    font-size: 14px;
    text-transform: none;
    &--hidden {
      display: block;
      width: 153px;
      padding: 12px 15px;
      border-left: 2px solid #e7e7e7;
    }
  }

  .price__slider-visible {
    display: none;
  }

  .price__item-hit {
    position: relative;
    top: -60px;
    left: 100px;
    transform: rotate(-45deg);
    &::after {
      content: "Хит";
      font-size: 14px;
      color: #ffffff;
      text-transform: uppercase;
    }
  }

  .price__item-top {
    border-right: 2px solid #e7e7e7;
    &:last-child {
      border: none;
    }
    &--hidden {
      display: block;
      width: auto;
      visibility: hidden;
      border-bottom: 2px solid #e7e7e7;
    }
  }

  .price__slider-input-1:checked ~ .price__inner .price__table {
    transform: none;
  }

  .price__slider-input-2:checked ~ .price__inner .price__table {
    transform: none;
  }

  .price__slider-input-3:checked ~ .price__inner .price__table {
    transform: none;
  }
}

@media @desktop-widths {
  .price__wrapper {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .price__item {
    width: 235px;
  }

  .price__item-hit {
    position: relative;
    top: -55px;
    left: 140px;
    transform: rotate(-45deg);
    &::after {
      content: "Хит";
      font-size: 14px;
      color: #ffffff;
      text-transform: uppercase;
    }
  }

  .price__item-top {
    border-right: 2px solid #e7e7e7;
    &:last-child {
      border: none;
    }
  }

  .price__item {
    min-height: 2px;
    padding: 23px 25px;
    background-color: #ffffff;
    color: #283645;
    font-size: 18px;
    border-top: 2px solid #e7e7e7;
    border-right: 2px solid #e7e7e7;
    &--hidden {
      width: 235px;
      border-top: none;
    }
  }
}
