.price {
  background-color: #f2f2f2;
  padding-top: 40px;
  padding-bottom: 70px;
}

.price__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.price__wrapper input[type=radio] {
  display: none;
}

.price__inner {
  overflow: hidden;
}

.price__items {
  width: 300%;
  transition: transform 0.8s ease;
}

.price__item {
  float: left;
  width: 280px;
  margin-right: 2px;
}

.price__item-top {
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #283645;
  text-align: center;
}

.price__item-title {
  color: #ffffff;
  margin: 0;
  padding-bottom: 6px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.price__item-cost {
  font-weight: 200;
  color: #ffffff;
  font-size: 24px;
}

.price__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.price__list-item {
  padding: 20px 25px;
  margin-bottom: 2px;
  background-color: #ffffff;
  color: #283645;
  font-size: 14px;
  text-transform: uppercase;
}

.price__slider-toggles {
  text-align: center;
  position: relative;
  top: 320px;
}

.price__slider-toggle {
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #bec2c7;
  margin: 0 3px;
  cursor: pointer;
  transition: 0.1 linear background-color;
  &:hover {
    background-color: #7e868f;
  }
  &:active {
    background-color: #e9ebec;
  }
}

.price__slider-input-1:checked ~ .price__slider-toggles .price__slider-toggle-1,
.price__slider-input-2:checked ~ .price__slider-toggles .price__slider-toggle-2,
.price__slider-input-3:checked ~ .price__slider-toggles .price__slider-toggle-3 {
  border: 2px solid #283645;
  background-color: #fff;
}

.price__slider-input-1:checked ~ .price__inner .price__items {
  transform: translate(0);
}

.price__slider-input-2:checked ~ .price__inner .price__items {
  transform: translate(-260px);
}

.price__slider-input-3:checked ~ .price__inner .price__items {
  transform: translate(-520px);
}
