.users-photos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.users-photos__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.users-photos__title {
  display: none;
}

.users-photos__intro {
  background-color: #ffffff;
  padding-top: 45px;
  padding-bottom: 50px;
  text-align: center;
}

.users-photos__intro-text {
  margin: 0;
  font-size: 14px;
  line-height: 2.1;
  color: #283645;
}

.users-photos__outro {
  padding-top: 25px;
  padding-bottom: 45px;
  text-align: center;
}

.users-photos__outro-text {
  margin: 0;
  font-size: 14px;
  color: #283645;
  line-height: 2.1;
}

@media @tablet-widths {
  .users-photos__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }


  .users-photos__intro {
    background-color: #ffffff;
    padding-top: 95px;
    padding-bottom: 75px;
    text-align: center;
  }

  .users-photos__intro-text {
    margin: 0;
    font-size: 18px;
    line-height: 1.6;
    color: #283645;
  }

  .users-photos__outro {
    padding-top: 40px;
    padding-bottom: 70px;
    text-align: center;
  }

  .users-photos__outro-text {
    margin: 0;
    font-size: 18px;
    color: #283645;
    line-height: 1.6;
  }
}

@media @desktop-widths {
  .users-photos__intro {
    background-color: #ffffff;
    padding-top: 95px;
    padding-bottom: 90px;
  }

  .users-photos__intro-text {
    margin: 0;
    font-size: 18px;
    line-height: 1.6;
    color: #283645;
  }

  .users-photos__outro {
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .users-photos__outro-text {
    margin: 0;
    font-size: 18px;
    color: #283645;
    line-height: 1.6;
  }
}
